# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Environment variables
.env

# IDE or editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Output of 'npm run build'
build/

# ESLint configuration
.eslintcache
.eslint-config.js

# Mac OS
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# NPM package lock
package-lock.json

# Yarn lock file
yarn.lock
